


body {
  background-color: blue;
}


/* @media querries */

/* break-point */
@media screen and ( min-width: 750px) {
  body {
    background-color: purple;
  }
}

@media screen and ( min-width: 1200px) {
  body {
    background-color: orange;
  }
}

  
  

