


a {
    text-decoration: none;
    color: inherit;
}

div {
    border: 2px solid black;
}

header {
    border: 2px solid blue;
}

header h1 {
    font-size: 48px;
}

main {
    border: 2px solid red;
    background-color: white;
}

footer {
    border: 2px solid blue;
}



body {
    font-family: "IBM Plex Mono", monospace; 
    color:pink;
}

h1 {
    font-size:48px;
    font-weight:bold;
}

h2 {
    border:inherit;
}

#root {
    border:1px solid black;
    color:blue
}

#root>header {
    border:1px solid blue;
}

main {
    border: 1px solid red;
    display: block;
}

#root > footer {
    border: 1px solid blue;
}

h1 {
    font-size: 1.4rem;
    font-weight: bold;
}

h2 {
    font-size:1.rem;
    font-weight: bold;
}

main section.lab {
    border:1px solid gray;
    padding:24px;
    margin:24px 0;
}

main section.lab .restricted-area {
    background-color: pink;
}

main section.lab:nth-of-type(1) .restricted-area a {
    border: 2px solid red;
}

main section.lab:nth-of-type(1) .restricted-area a:nth-child(even) {
    border-color: blue;
}

main section.lab:nth-of-type(1) .restricted-area span {
    border:2px solid yellow;
}


main section.lab:nth-last-of-type(1) .restricted-area {
    text-align: center;
}

li {
    margin:24px;
}

main section.lab:nth-of-type(2) .restricted-area div {
    border:2px solid black;
    width:200px;
    height:20px;
    margin-left:auto;
    margin-right:auto;

    margin:0 auto;
}

main section.lab:nth-of-type(2) .restricted-area article {
    border:3px solid orange;
}

main section.lab:nth-of-type(3) .restricted-area {
    text-align: center;
}

main section.lab:nth-of-type(3) .restricted-area img {
    vertical-align: middle;
}

main section.lab:nth-of-type(4) .restricted-area button span {
    display: none;
}

main section.lab:nth-of-type(4) .restricted-area button:hover span {
    display: inline;
}